*
{
    margin: 0px;
}


header
{
    display: block;
    height: 50px;
    background-color: cyan;
    position: fixed;
    top: 0px;
    width: 100vw;
    padding-top: 6px;

}

main
{
    margin-top: 100px;
}


.list ul li:nth-child(2)
{
color: blue;
}

.image
{
    display: inline-block;
}

.headline3
{
    font-size: 2rem;
    color: rgb(255, 174, 0);
}

.headline3 a
{
target-name:new;
target-new:tab;
}

footer li
{
    display: inline-block;
    color: black;
    list-style: none;
    text-decoration: none;
}




footer li :visited
{
    color: green;
}
footer li :hover
{
    color: red;
}

.box-model p, .box-model img
{
    padding: 5px;
    margin: 10%;
}

.box-model img
{
    width: 10%;
}

.images a img
{
    border-radius: 10%;
}